// Apply to all
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Color Variables
$white: #ffffff;
$light-gray: #d6e2f0;
$grayish-blue: #7b879d;
$dark-blue: #1f3251;
$darker-blue: #0E0824;